.header {
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #192a80;
    padding: 6px 0 7px;
    box-shadow: 5px 2px 20px rgba(0,0,0,0.6);
    &__title {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      z-index: 0;
      .icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: calc(50% + 50px);
      }
      &.left65 {
       left: 65%;
     }
    }
    .navbar {
      padding: 8px 0;
    }
  }
