$colormain: #192a80;
$colormain2: #770000;
.main {
  padding: 83px 0 80px;
  z-index: -9999;
  .title {
		position: relative;
    display: inline-block;
		.icon {
			position: absolute;
			transform: translate(-50%, -50%);
			top: calc(50% - 4px);
    	left: 65px;
		}
		&::after {
			position: absolute;
			content: "";
			left: 0;
			bottom: -4px;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
	}
	.nhaplieu {
		&__standardbase {
			position: relative;
			width: 40px;
			height: 15px;
			margin-top: 5px;
			border-radius: 20px;
			box-shadow: 0 0 4px 2px rgba(#000, 0.5) inset;
			cursor: pointer;
			z-index: 0;
			&::after {
				position: absolute;
				content: '';
				transform: translate(-50%,-50%);
				top: 50%;
				left: 30px;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: rgba($colormain, 1);
				box-shadow: 0 0 4px 2px rgba(#000, 0.5);
				transition: inherit;
			}
			&::before {
				position: absolute;
				content: '';
				border-radius: 20px;
				background-color: $colormain;
				opacity: 0.9;
				right: 0;
				top: 0;
				left: 100%;
				bottom: 0;
				opacity: 0;
				transition: 0.6s;
			}
			&.active {
				background-color: transparent;
				&::after {
					left: 10px;
				}
				&::before {
					left: 0;
					opacity: 1;
				}
			}
		}
	}
	.trangchu {
		&__intro {
			font-size: 14px;
			position: relative;
		}
		&__caption {
			position: absolute;
			transform: translate(-50%,-50%);
			width: 100%;
			top: 50%;
			left: 50%;
			color: $colormain;
		}
		.content {
			margin-top: 30px;
			color: $colormain;
			&__item {
				color: inherit;
				font-weight: bold;
			}
		}
	}
  .ketqua {
    .title {
      margin-top: 0;
    }
	}
	.cosolythuyet {
		position: fixed;
		padding: 16px 20px;
		overflow-y: scroll;
		top: 10%;
		left: 50%;
		transform: translate(-50%,0);
		height: 70%;
		width: 70%;
		background-color: #fff;
		box-shadow: 2px 2px 20px rgba($color: #000000, $alpha: 0.8);
		z-index: 999999;
		&__content {
			margin-top: 10px;
		}
		&__close {
			&::after,&::before {
				background-color: #000000;
			}
		}
	}
	.baocao {
		.tablewrap {
			margin-top: 20px;
		}
	}
	.cosolythuyet::-webkit-scrollbar {
		display: none;
	}
}
.form {
	padding: 0 25px;
	margin-top: 26px;
	&__wrap {
		margin: 7px -7px 0;
	}
	&__item {
		padding: 0 7px;
		.form-control {
			border-radius: 5px;
			height: 35px;
			&[readonly] {
				background-color: transparent;
			}
		}
	}
	&__label {
		color: $colormain;
		margin: 0 0 4px 0;
		span {
			color: $colormain2;
		}
	}
	&__view {
		width: 100%;
		height: 300px;
		border: solid 1px $colormain;
		border-radius: 5px;
		margin-top: 25px;
	}
	.svg {
		&__wrap {
			position: relative;
			width: 295px;
			height: 300px;
			margin-top: 25px;
			overflow: hidden;
		}
		&__rotate90 svg{
			transform: rotate(-90deg);
		}
	}
	.form-control:disabled, .form-control[readonly] {
		background-color: transparent;
	}
}
.select {
		position: relative;
	&__nav {
		position: absolute;
		top: 20px;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		list-style-type: none;
		padding: 5px 10px;
		margin: 0;
		border-radius: 5px;
	}
	&__icon {
		position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    top: -17px;
    right: -15px;
	}
	&.active {
		.select__nav {
			top: 5px;
			opacity: 1;
			visibility: visible;
		}
		.select__icon {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}
}
.tablewrap {
  overflow-x: scroll;
  .title {
    color: $colormain;
    span {
      color: $colormain2;
    }
  }
  .table {
    padding: 0 25px;
    color: #000;
    overflow: auto;
    &__header, th, td {
      color: $colormain;
      border: solid 1px #770000;
    }
  }
}
